*{ box-sizing: border-box; }

body{ margin: 0; }
.body-container {
    margin:1em;
    border: 2px solid black;
}
header,main {
    border-bottom: 2px solid black;
}
.logo {width: 64px;
height: 64px;}

.flex {display: flex;}
.grid {display: grid;}
.text-align-center{text-align: center;}
.gray-text {color:gray;}
.font-italic{font-style: italic;}

.header-nav-links {
    list-style-type: none;
    gap:0.5em;
    margin-left: auto;
}
.header-nav-links a{
    text-decoration: none;
}

.main-info-item {
    flex:1;
    border-right: 2px solid black;
    padding: none;
}
.main-info-item:last-child{
    border-right:none;
}
/* .project-item:not(:first-child),.experience-item:not(:first-child){ */
.project-item + .project-item {
    border-top: 2px solid black;
    padding: 4px;
}
.reviews{
    margin: auto;
    justify-content: space-evenly;
}
.review-item{
    padding: 0 1em 0 1em ;
    border: 2px solid black;
    border-radius: 40px;
}
.review-comment{
    max-width: 12em;
    width: 100%;
}
.teacher{margin-bottom:0;}
.profession{margin-top:0;}

h2,.header-nav{padding:1rem;}
.header-nav{padding-bottom: 0;}
p{padding: 0 1rem 0 1rem ;}


.form_contact {display: grid;}
.form_contact form{
    border: 2px solid;
    border-radius: 2em;
    margin: 1em auto 1em auto;
    padding: 1em;
}